ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
}
.search-bar{
    height: 40px;
}
.search-bar div{
    margin:10px;
}
vr{
    height: 100%;
}


/* div.sign-Up{border:1px solid white ;border-radius: 5px;
} */